<h1>New Client</h1>

<%= form_for :clients, url: clients_path do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :date_of_birth %><br>
    <%= f.text_field :date_of_birth %>
  </p>
  <p>
    <%= f.label :social_security %><br>
    <%= f.text_field :social_security %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </p>
 
 <%= render 'form' %> 

<%= link_to 'Back', clients_path %>

<% end %>

