<h1>New Client</h1>


<%= form_for :clients, url: clients_path do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>
 
 <%= render 'form' %> 

<%= link_to 'Back', clients_path %>

<% end %>